<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        a{
            text-decoration: none;
            color: seashell;
        }
    </style>
<body>
    <h1>Error Message</h1>
         <h3><%= co_code %> has cities, it cannot be deleted</h3>

    <br><br>
    <button class="btn btn-secondary"><a href="/" class="button">&#60;&#60;HOME</a> </button>
        
</body>